---
---

@import 'variables';

@import 'generic';

/**
 * Body styles
 */
.wrapper {
	max-width: 40rem;
	margin: 0 auto;
	padding: 0 3rem;

	background: rgba(255,255,255,1);
}

.site-header {
	background: $green;

	.hero & {
		background: $purple;	
	}

	.wrapper {
		background: lighten($green, 20%);

		.hero & {
			background: $ltpurple;
		}
	}

	a {
		color: inherit;
	}

	hgroup {
		padding: 0;
		text-align: center;

		.hero & {
			padding: 1rem 0;
			text-align: center;
		}
	}

	h1 {
		font-size: 3rem;
		margin: 0;

		.hero & {
			font-size: 4rem;
			margin: 0;
		}
	}

	h2 {
		font-size: 1rem;
		margin: 0;
	}
}

.site-nav {
	background: $purple;

	.hero & {
		background: $dkpurple;
	}

	.wrapper {
		padding: 0;
		background: $ltpurple;

		.hero & {
			background: $purple;
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;

		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		color: #fff;
		padding: 1rem;
		margin: 0;

		&:hover,
		&.active {
			background: $purple;
			text-decoration: none;

			.hero & {
				background: $dkpurple;
			}
		}
	}
}

.hero-shot {
	background: $purple;
	text-align: center;

	.wrapper {
		padding-bottom: 2rem;
		background: $ltpurple;
	}

	img {
		width: 150%;
		margin-left: -25%;
	}
}

.feature {
	img {
		float: left;
		width: 70%;
		margin-left: -25%;
		margin-right: 5%;
	}

	&:nth-child(even) img {
		float: right;
		width: 70%;
		margin-right: -25%;
		margin-left: 5%;
	}

	h2 {
		float: left;
		width: 50%;

		padding: 0;
		margin: 0;

		line-height: 1;
	}

	p {
		float: left;
		width: 50%;
		margin: 0;
	}
}


.page-content {
	background: $green;

	.wrapper {
		padding-top: 1rem;
		padding-bottom: 1rem;

		display: flex;
		min-height: 70vh;
		flex-direction: column;

		background: $ltgreen;
	}

}

.site-footer {
	flex: 1;

	background: $purple;
	text-align: center;
	padding-bottom: 6rem;

	.wrapper {
		padding-top: 1rem;
		padding-bottom: 1rem;

		background: $ltpurple;
	}
}