/**
 * Basic styles
 */
img {
	width: 100%;
}

/**
 * Body styles
 */
html {
	background: #BEE5A7;
	font: 100%/1.5 Arial;
}

.wrapper {
	margin: 0 auto;
	padding: 0 3rem;

	max-width: 40rem;

	background: white;
}

