<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.citelao.spotifious</string>
	<key>connections</key>
	<dict>
		<key>18496AC4-EA42-444C-A906-642E38259C96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96FF1F9F-42BA-45EA-8743-09A940B5F2DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E5DE67FB-EEC7-4489-BAFC-5CD549A308A1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Queue this</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2718D6D2-D931-48D8-93FC-9BE73F1DA401</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Preview this</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C9149B42-C302-4B85-9FE1-644AB54249EF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open this in Spotify</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>405C281F-68E7-49E0-A417-61F1D3B51429</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Star this</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D5606BC-5963-45FC-9003-6B48E88F2077</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2718D6D2-D931-48D8-93FC-9BE73F1DA401</key>
		<array/>
		<key>3E523778-76AD-4CD0-ADA1-1DDAD3767866</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>768E8F4D-68EB-44E9-85F0-7B67748C46D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>405C281F-68E7-49E0-A417-61F1D3B51429</key>
		<array/>
		<key>4E2CAD16-5D05-444B-922F-CE5CD7C7C238</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF1F0016-A2CC-4A82-B937-0575496A141A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>768E8F4D-68EB-44E9-85F0-7B67748C46D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90720DB4-4411-4139-A095-2207998E23BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8EE54596-B161-4A0A-AAFF-01FB8D016CE5</key>
		<array/>
		<key>8F56ADB1-748F-4574-8650-266DAE6C54BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EE54596-B161-4A0A-AAFF-01FB8D016CE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>96FF1F9F-42BA-45EA-8743-09A940B5F2DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66DB4B28-A929-4E34-9BAB-368CF11210A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A03EC08A-349D-406A-B4D2-E40796B68CAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0304935-C17F-4251-A640-79D6D2E60789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A7421BB1-9B71-4369-92AB-64AF0EA7A9AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90720DB4-4411-4139-A095-2207998E23BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AE6160D1-56EA-4416-991E-CF12B874FFD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18496AC4-EA42-444C-A906-642E38259C96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C9149B42-C302-4B85-9FE1-644AB54249EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66DB4B28-A929-4E34-9BAB-368CF11210A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E16D7A45-5212-4A70-AE85-36C6BF0450E7</key>
		<array/>
		<key>E5DE67FB-EEC7-4489-BAFC-5CD549A308A1</key>
		<array/>
		<key>F0304935-C17F-4251-A640-79D6D2E60789</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B72CF8BE-C4D3-4ACC-98AC-8AE349A4114C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FBBEAB8F-B11E-4D92-9049-E21EAD35D223</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7421BB1-9B71-4369-92AB-64AF0EA7A9AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ben Stolovitz</string>
	<key>description</key>
	<string>A natural Spotify controller for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spotifious</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>spotifious</string>
				<key>runningsubtext</key>
				<string>Harnessing Spotify APIs...</string>
				<key>script</key>
				<string>php -f main.php -- "{query}" </string>
				<key>title</key>
				<string>Show Spotifious Mini Player</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>18496AC4-EA42-444C-A906-642E38259C96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>36</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>↩</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AE6160D1-56EA-4416-991E-CF12B874FFD3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>123</integer>
				<key>script</key>
				<string>php -f action.php -- none ⧙ {query} &gt; ~/Desktop/test.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96FF1F9F-42BA-45EA-8743-09A940B5F2DF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E5DE67FB-EEC7-4489-BAFC-5CD549A308A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2718D6D2-D931-48D8-93FC-9BE73F1DA401</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>66DB4B28-A929-4E34-9BAB-368CF11210A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>123</integer>
				<key>script</key>
				<string>php -f action.php -- ctrl ⧙ {query} &gt; ~/Desktop/test.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9149B42-C302-4B85-9FE1-644AB54249EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>405C281F-68E7-49E0-A417-61F1D3B51429</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>0D5606BC-5963-45FC-9003-6B48E88F2077</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open /Users/citelao/Dropbox/Alfred/Alfred.alfredpreferences/workflows/spotifious/include/prevnext/build/prevnext.app --args {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B72CF8BE-C4D3-4ACC-98AC-8AE349A4114C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Spotify"
	playpause

	if (player state is playing) then		"playing"	else		"paused"	end if
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0304935-C17F-4251-A640-79D6D2E60789</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A03EC08A-349D-406A-B4D2-E40796B68CAD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Spotify"
	previous track
	
	return name of current track &amp; "✂" &amp; album of current track &amp; " by " &amp; artist of current track &amp; "✂"
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>768E8F4D-68EB-44E9-85F0-7B67748C46D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>open include/Notifier.app --args "{query}song title✂album by artist✂stars✂"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>90720DB4-4411-4139-A095-2207998E23BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3E523778-76AD-4CD0-ADA1-1DDAD3767866</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Spotify"
	next track

	return name of current track &amp; "✂" &amp; album of current track &amp; " by " &amp; artist of current track &amp; "✂"
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7421BB1-9B71-4369-92AB-64AF0EA7A9AE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FBBEAB8F-B11E-4D92-9049-E21EAD35D223</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Spotify"
		set sound volume to sound volume + 10
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8EE54596-B161-4A0A-AAFF-01FB8D016CE5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8F56ADB1-748F-4574-8650-266DAE6C54BF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4E2CAD16-5D05-444B-922F-CE5CD7C7C238</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Spotify"
	set sound volume to sound volume - 10
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF1F0016-A2CC-4A82-B937-0575496A141A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>50</integer>
				<key>script</key>
				<string>tell application "Spotify"
	run script {query}
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E16D7A45-5212-4A70-AE85-36C6BF0450E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D5606BC-5963-45FC-9003-6B48E88F2077</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>18496AC4-EA42-444C-A906-642E38259C96</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2718D6D2-D931-48D8-93FC-9BE73F1DA401</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>3E523778-76AD-4CD0-ADA1-1DDAD3767866</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>405C281F-68E7-49E0-A417-61F1D3B51429</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>4E2CAD16-5D05-444B-922F-CE5CD7C7C238</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>66DB4B28-A929-4E34-9BAB-368CF11210A6</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>768E8F4D-68EB-44E9-85F0-7B67748C46D7</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>8EE54596-B161-4A0A-AAFF-01FB8D016CE5</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>8F56ADB1-748F-4574-8650-266DAE6C54BF</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>90720DB4-4411-4139-A095-2207998E23BD</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>96FF1F9F-42BA-45EA-8743-09A940B5F2DF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A03EC08A-349D-406A-B4D2-E40796B68CAD</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>A7421BB1-9B71-4369-92AB-64AF0EA7A9AE</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>AE6160D1-56EA-4416-991E-CF12B874FFD3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B72CF8BE-C4D3-4ACC-98AC-8AE349A4114C</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>BF1F0016-A2CC-4A82-B937-0575496A141A</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>C9149B42-C302-4B85-9FE1-644AB54249EF</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>E16D7A45-5212-4A70-AE85-36C6BF0450E7</key>
		<dict>
			<key>ypos</key>
			<real>1220</real>
		</dict>
		<key>E5DE67FB-EEC7-4489-BAFC-5CD549A308A1</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>F0304935-C17F-4251-A640-79D6D2E60789</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>FBBEAB8F-B11E-4D92-9049-E21EAD35D223</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/citelao/Spotify-for-Alfred</string>
</dict>
</plist>
