<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.citelao.spotifious</string>
	<key>connections</key>
	<dict>
		<key>18496AC4-EA42-444C-A906-642E38259C96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E16D7A45-5212-4A70-AE85-36C6BF0450E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>36606F70-E12F-4D1D-81A0-3F3FFE4EA650</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26447A5D-A2C6-4DD3-9467-8A7C9422E330</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AE6160D1-56EA-4416-991E-CF12B874FFD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18496AC4-EA42-444C-A906-642E38259C96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ben Stolovitz</string>
	<key>description</key>
	<string>Play Your Perfect Picks Quick</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spotifious</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>50</integer>
				<key>script</key>
				<string>tell application "Spotify"	run script {query}end tell
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E16D7A45-5212-4A70-AE85-36C6BF0450E7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>36</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>↩</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AE6160D1-56EA-4416-991E-CF12B874FFD3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>spot</string>
				<key>runningsubtext</key>
				<string>Harnessing Spotify's terrible API...</string>
				<key>script</key>
				<string>SHOWIMAGES="yes" # 'yes' or 'no'
php -f main.php -- $SHOWIMAGES "{query}"</string>
				<key>subtext</key>
				<string>Search for artists, tracks, or albums</string>
				<key>title</key>
				<string>Search Spotify for tracks, artists, and albums</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>18496AC4-EA42-444C-A906-642E38259C96</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>spot cleanup</string>
				<key>subtext</key>
				<string>Clear cached artwork</string>
				<key>text</key>
				<string>Cleanup Spotifious</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>36606F70-E12F-4D1D-81A0-3F3FFE4EA650</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>php -f clear.php</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26447A5D-A2C6-4DD3-9467-8A7C9422E330</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>18496AC4-EA42-444C-A906-642E38259C96</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>26447A5D-A2C6-4DD3-9467-8A7C9422E330</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>36606F70-E12F-4D1D-81A0-3F3FFE4EA650</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AE6160D1-56EA-4416-991E-CF12B874FFD3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E16D7A45-5212-4A70-AE85-36C6BF0450E7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/citelao/Spotify-for-Alfred</string>
</dict>
</plist>
