@import 'mixins';

/**
 * Basic styles
 */
* {
	box-sizing: border-box;
}

html {
	background: #fff;
	color: #333;
	font: 100%/1.5 Arial;
}

a {
	text-decoration: none;
	/*transition: all 100ms ease-in;*/

	&:hover {
		text-decoration: underline;

		position: relative;
		top: -0.1rem;
	}

	&:active {
		position: relative;
		top: 0;
		bottom: -0.1rem;
	}
}

code {
	background: #ccc;
	padding: 0.2rem;
	border: 0.1rem solid #666;
	border-radius: 0.3rem;

	font-family: Monaco, "Lucida Sans Typewriter", "Lucida Console", "Courier New", Courier, monospace;
	font-size: 0.8em;
}

img {
	width: 100%;
}

li {
	& > p:first-child {
		margin-top: 0;
	}
}