/* http://stackoverflow.com/questions/5407386/multiple-box-shadow-declarations-in-sass */
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;       
          box-shadow: $shadow;
}