.installation-guide {
	// nothing atm
	
	li {
		position: relative;
	}

	&__callout {
		// float: right;
		// width: 40%;
		// margin-right: -25%;
		// margin-left: 5%;
		margin: 1rem;
		padding: 1rem;

		@include cf;

		background: $purple;
		color: white;
	}

	&__aside {
		display: inline-block;

		position: relative;
		float: right;
		width: 22rem;
		left: 15rem;
		margin: 0 0 0 -13rem;
		
		padding: 1rem;
		background: lighten($green, 20%);
	}
}