<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="hero">
    {% include header.html %}

    <section class="hero-shot">
      <div class="wrapper">
        <a href="{{site.baseurl}}/download" title="Download Spotifious"><img src="{{site.baseurl}}/img/hero_shot.png" alt="The main menu of Spotifious. It's the typical
       Alfred window, with entries that indicate Spotify's
       current state. It shows that a Hugh Laurie song is
       playing, and gives an indication that you can type to search."></a>
      </div>
    </section>

    {% include nav.html %}

    <section class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
